.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/img/background.svg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: white;
  @media (min-width: 600px) {
    margin-top: 5em;
  }
}

.badges {
  margin: 0;
  display: grid;
  gap: 1em;
  width: 100%;
  padding-inline: 2.5em;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 430px) {
    gap: 3em;
    padding-inline: 10em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.programs {
  padding-top: 5em;
  margin: 0;
  display: grid;
  gap: 1em;
  width: 100%;
  padding-inline: 2.5em;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 430px) {
    gap: 3em;
    padding-inline: 10em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about_me {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 1.5rem;
  padding-inline: 2.5em;
  line-height: 1.3;

  @media (min-width: 430px) {
    padding-inline: 10em;
  }
}

.projects {
  padding-top: 5em;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 1em;
  width: 100%;
  padding-inline: 2.5em;
  @media (min-width: 430px) {
    gap: 3em;
    padding-inline: 10em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
