@use "../partials/functions" as fn;
.container {
  &,
  & > * {
    color: fn.getColor($shading: "primary", $shade: 700);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 1.0416666666666667em;
  padding-block: 0.5em;
  width: 100%;
  aspect-ratio: 21/9;
  background-color: fn.getColor($shading: "neutral", $shade: 800);
  transition: box-shadow 0.35s ease-in-out;
  cursor: pointer;

  @media (min-width: 430px) {
    .program_name {
      opacity: 0;
      transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
      font-size: 0em;
    }
    &:hover {
      //background-color: fn.getColor($shading: "neutral", $shade: 700);
      box-shadow: 5px 5px 10px -2px fn.getColor($shading: "neutral", $shade: 900);
      .program_name {
        opacity: 1;
        font-size: 1.5em;
      }
    }
  }
}
